[submodule "dotfiles-secret"]
	path = dotfiles-secret
	url = file:///Users/plu/Dropbox/git/dotfiles-secret.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
